body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header-container {
    display: flex;
    gap: 100px;
    background: rgba(229, 84, 115, 0.10);
}

.text-container {
    margin-left: 150px;
}

.header-container img {
    width: 450px;
    padding-top: 50px;
    margin-right: 100px;
}

.header-title {
    color: #272727;
    font-size: 55px;
    font-weight: 800;
    margin-top: 150px;
    margin-bottom: 0px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 0px;
}

.shop-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    margin-top: 30px;
    margin-bottom: 50px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.flower-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}

.flower-container img {
    width: 200px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.flower-card {
    width: 300px;
    margin: 0 auto;
}

#card-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 50px;
}

#card-two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-top: 50px;
}

#card-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-top: 50px;
}

.flower-name {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
}

.flower-name h4 {
    color: #272727;
    text-align: center;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 30px;
}

.service-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
    margin-top: 100px;
}

.service-card {
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-weight: 600;
}

.discount-container {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
}

.discount-container img {
    width: 250px;
    margin-right: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.discount-text-container {
    text-align: center;
    padding-top: 150px;
}

.discount-text {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.off {
    color: #E55473;
}

.discount-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.sign-up-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 18px 36px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.instagram {
    color: #272727;
    text-align: center;
}

.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 130px;
    margin-bottom: 0px;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}

.images-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
}

.images-container img {
    width: 250px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.selling-text-container {
    color: #272727;
    text-align: center;
}

.selling-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 130px;
    margin-bottom: 0px;
}

.selling-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}

.most-selling-images-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
}

hr {
    width: 1000px;
}

.most-selling-images-container img {
    width: 250px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;


}

.latest-deals {
    text-align: center;
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin-top: 130px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.latest-deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;

}

.coupon {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}

#email {
    padding: 20px 300px 20px 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background: #FFF;
}

.subscribe-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 17px 34px;
    margin-left: 10px;
    margin-top: 50px;
}

.footer-container {
    text-align: center;
    background-color: #272727;
    margin-top: 130px;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    color: white;
    margin-bottom: 0px;
    padding-top: 130px;
}

.flower {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 0px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    padding-bottom: 130px;

}